{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CMTwitter</title>
        
        <!-- Bootstrap Core CSS -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link href="{% static "CSS/navbar.css" %}" rel="stylesheet">
        <link href="{% static "CSS/profile.css" %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" onclick="toIndex()">CMTwitter</a>
                </div>
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search User..." list="userlist" id="searchbar" oninput="searchUser()">
                            <datalist id="userlist">
                                
                            </datalist>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="logoutBtn"> LOGOUT </a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="parallax">
            <div class="parallax-section">
                <div class="parallax-layer parallax-layer-base">
                    <div class="container">
                        <div class="vertical-center">
                            <div id="profile-pic"></div>
                            <h3 id="profile-name"></h3>
                            <button type="button" class="btn" id="follow-btn"></button>
                        </div>
                    </div>
                </div>
                <div class="parallax-layer parallax-layer-back"></div>
            </div>
            <div class="content">
                <div class="container">
                    
                </div>
            </div>
        </div>
    
        <!-- jQuery -->
        <script src="{% static "JS/jquery-3.1.0.min.js" %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        
        <!-- Custom JavaScript -->
        <script src="{% static "JS/navbar.js" %}"></script>
        <script src="{% static "JS/profile.js" %}"></script>
    </body>
</html>